@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.feedback {
  @include media-breakpoint-up(tb) {
    display: flex;
    justify-content: space-between;
  }
}

.feedback__container {
  @include media-breakpoint-up(tb) {
    margin-left: 76px;
  }

  @include media-breakpoint-up(md) {
    margin-left: 86px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 96px;
  }
}
.feedback__title {
  margin-bottom: 14px;
  max-width: 280px;

  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.18px;
  @include media-breakpoint-up(xs) {
    margin-bottom: 16px;
    font-size: 32px;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 18px;

    font-size: 38px;
    line-height: 120%;
    letter-spacing: -1.12px;
  }

  @include media-breakpoint-up(tb) {
    margin-bottom: 20px;
    font-size: 44px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 22px;
    font-size: 50px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 24px;
    font-size: 56px;
    font-style: normal;
  }
}

.feedback__text {
  margin-bottom: 53px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 21px */
  letter-spacing: -0.28px;

  @include media-breakpoint-up(sm) {
    font-size: 15px;
  }

  @include media-breakpoint-up(tb) {
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 27px;
    font-size: 16px;
  }

  @include media-breakpoint-up(md) {
    font-size: 17px;
  }

  @include media-breakpoint-up(lg) {
    letter-spacing: 0;
    line-height: 27px;
    font-size: 18px;
  }
}

form {
  @include media-breakpoint-up(md) {
    margin-right: 154px;
    width: 294px;
  }
}

.feedback__input {
  padding-bottom: 4px;
  width: 100%;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  background-color: #ffcd4e;
  border: none;
  border-bottom: 2px solid #000;
  transition: all 0.25s linear;

  &::placeholder {
    transition: all 0.25s linear;
  }

  &:focus.ng-invalid,
  &.ng-invalid.ng-touched {
    border-bottom: 2px solid #ff1744;
  }

  &:focus.ng-valid,
  &.ng-valid.ng-touched {
    border-bottom: 2px solid #64dd17;
  }

  @include media-breakpoint-up(xs) {
    width: 348px;
  }

  @include media-breakpoint-up(tb) {
    margin-top: 2px;
    padding-bottom: 5px;
    font-size: 18px;
    width: 294px;
    display: block;

    &:hover,
    &:focus {
      scale: 1.02;

      &::placeholder {
        color: #000;
      }
    }
  }
}

.feedback__btn {
  display: block;
  margin-top: 34px;
  padding: 12px 43px;

  background-color: #000;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  transition: all 0.15s linear;

  @include media-breakpoint-up(xs) {
    padding: 14px 43px;
  }

  @include media-breakpoint-up(sm) {
    padding: 17px 43px;
    font-size: 15px;
  }

  @include media-breakpoint-up(tb) {
    padding: 20px 43px;
    margin-top: 27px;

    font-size: 16px;
    width: 294px;

    &:valid:hover {
      background-color: #494949;
      scale: 1.04;
      border-color: #fff;
    }
  }
}

.feedback__agree {
  margin-top: 12px;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */

  @include media-breakpoint-up(tb) {
    width: 258px;
    margin-top: 21px;
    font-size: 12px;
    line-height: 150%; /* 18px */
  }
}

.errors-container {
  position: relative;
}

.errors-text {
  position: absolute;
  top: 0;
  color: #ff1744;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 21px */
  letter-spacing: -0.28px;
}
