@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.feedback {
  @include media-breakpoint-up(tb) {
    display: flex;
    justify-content: space-between;
  }
}

.feedback__container {
  @include media-breakpoint-up(tb) {
    margin-left: 76px;
  }

  @include media-breakpoint-up(md) {
    margin-left: 86px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 96px;
  }
}
.feedback__title {
  margin-bottom: 14px;
  max-width: 280px;

  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.18px;
  @include media-breakpoint-up(xs) {
    margin-bottom: 16px;
    font-size: 32px;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 18px;

    font-size: 38px;
    line-height: 120%;
    letter-spacing: -1.12px;
  }

  @include media-breakpoint-up(tb) {
    margin-bottom: 20px;
    font-size: 44px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 22px;
    font-size: 50px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 24px;
    font-size: 56px;
    font-style: normal;
  }
}

.feedback__text {
  margin-bottom: 53px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 21px */
  letter-spacing: -0.28px;

  @include media-breakpoint-up(sm) {
    font-size: 15px;
  }

  @include media-breakpoint-up(tb) {
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 27px;
    font-size: 16px;
  }

  @include media-breakpoint-up(md) {
    font-size: 17px;
  }

  @include media-breakpoint-up(lg) {
    letter-spacing: 0;
    line-height: 27px;
    font-size: 18px;
  }
}

form {
  @include media-breakpoint-up(md) {
    margin-right: 154px;
    width: 294px;
  }
}

.feedback__input {
  padding-bottom: 4px;
  width: 100%;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  background-color: #ffcd4e;
  border: none;
  border-bottom: 2px solid #000;
  transition: all 0.25s linear;

  &::placeholder {
    transition: all 0.25s linear;
  }

  &:focus.ng-invalid,
  &.ng-invalid.ng-touched {
    border-bottom: 2px solid #ff1744;
  }

  &:focus.ng-valid,
  &.ng-valid.ng-touched {
    border-bottom: 2px solid #64dd17;
  }

  @include media-breakpoint-up(xs) {
    width: 348px;
  }

  @include media-breakpoint-up(tb) {
    margin-top: 2px;
    padding-bottom: 5px;
    font-size: 18px;
    width: 294px;
    display: block;

    &:hover,
    &:focus {
      scale: 1.02;

      &::placeholder {
        color: #000;
      }
    }
  }
}

.feedback__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
  padding: 12px 43px;

  background-color: #000;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  transition: all 0.15s linear;

  &:disabled {
    cursor: auto;
  }

  @include media-breakpoint-up(xs) {
    padding: 14px 43px;
  }

  @include media-breakpoint-up(sm) {
    padding: 17px 43px;
    font-size: 15px;
  }

  @include media-breakpoint-up(tb) {
    padding: 20px 43px;
    margin-top: 27px;

    font-size: 16px;
    width: 294px;

    &:valid:hover {
      background-color: #494949;
      scale: 1.04;
      border-color: #fff;
    }
  }
}

.feedback__agree {
  margin-top: 12px;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */

  @include media-breakpoint-up(tb) {
    width: 258px;
    margin-top: 21px;
    font-size: 12px;
    line-height: 150%; /* 18px */
  }
}

.errors-container {
  position: relative;
}

.errors-text {
  position: absolute;
  top: 0;
  color: #ff1744;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 21px */
  letter-spacing: -0.28px;
}

.modal-title {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 100% */
  letter-spacing: -0.52px;

  @include media-breakpoint-up(xs) {
    font-size: 32px;
    line-height: 32px; /* 100% */
    letter-spacing: -0.64px;
  }

  @include media-breakpoint-up(sm) {
    font-size: 38px;
    line-height: 38px; /* 100% */
    letter-spacing: -0.72px;
  }

  @include media-breakpoint-up(tb) {
    font-size: 44px;
    line-height: 44px; /* 100% */
    letter-spacing: -0.84px;
  }

  @include media-breakpoint-up(md) {
    font-size: 50px;
    line-height: 50px; /* 100% */
    letter-spacing: -0.96px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 56px;
    line-height: 56px; /* 100% */
    letter-spacing: -1.12px;
  }
}

.modal-text {
  margin-top: 20px;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 16.9px */
  letter-spacing: -0.26px;

  @include media-breakpoint-up(xs) {
    margin-top: 24.6px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.29px;
  }

  @include media-breakpoint-up(sm) {
    margin-top: 29.2px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.31px;
  }

  @include media-breakpoint-up(tb) {
    margin-top: 33.8px;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.34px;
  }

  @include media-breakpoint-up(md) {
    margin-top: 38.4px;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: -0.37px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 43px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.4px;
  }
}

.modal-btn {
  padding: 12px 82px;
  margin-top: 31.7px;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 184.615% */
  letter-spacing: -0.26px;
  background-color: #000;
  color: #fff;
  border-radius: 40px;
  transition: all 0.15s linear;

  @include media-breakpoint-up(xs) {
    padding: 14px 82px;
    margin-top: 38px;
    font-size: 13px;
  }

  @include media-breakpoint-up(sm) {
    padding: 16px 82px;
    margin-top: 44px;
    font-size: 14px;
  }

  @include media-breakpoint-up(tb) {
    padding: 18px 82px;
    margin-top: 50px;
    font-size: 15px;
    &:hover {
      background-color: #494949;
      scale: 1.04;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 19px 82px;
    margin-top: 56px;
    font-size: 16px;
  }

  @include media-breakpoint-up(lg) {
    padding: 20px 82px;
    margin-top: 60px;
    font-size: 16px;
  }
}

.btn-close {
  position: absolute;
  top: 17px;
  right: 16px;
  transition: all 0.15s linear;

  @include media-breakpoint-up(xs) {
    top: 24px;
    right: 23.4px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  @include media-breakpoint-up(sm) {
    top: 31px;
    right: 30.8px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  @include media-breakpoint-up(tb) {
    top: 38px;
    right: 38.2px;

    img {
      width: 28px;
      height: 28px;
    }

    &:hover {
      scale: 1.12;
    }
  }

  @include media-breakpoint-up(md) {
    top: 45px;
    right: 45.6px;

    img {
      width: 32px;
      height: 32px;
    }
  }

  @include media-breakpoint-up(lg) {
    top: 52px;
    right: 53px;

    img {
      width: 36px;
      height: 36px;
    }
  }
}
.loader {
  width: 30px;
  margin-left: 20px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.loader-notification {
  margin-left: 20px;
}
