<!-- <div class="feedback" data-aos="fade-down" data-aos-duration="1000">
  <div class="feedback__container">
    <h2 class="feedback__title">Щотижневі новини</h2>
    <p class="feedback__text">Підпишіться, щоб отримувати листи</p>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <input type="email" class="feedback__input" placeholder="Ваш email" autocomplete="email" formControlName="email" />
    <div *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched" class="errors-container">
      <p class="errors-text" *ngIf="formGroup.get('email')?.errors?.required">Поле email не може бути пустим</p>
      <p class="errors-text" *ngIf="formGroup.get('email')?.errors?.email">Введіть коректний email</p>
    </div>
    <button type="submit" class="feedback__btn" [disabled]="formGroup.invalid" (click)="open(content)">
      Підписатись
      <div *ngIf="isPending" class="loader"></div>
    </button>
    <p class="feedback__agree">Даю згоду на обробку та використання персональних даних</p>
  </form>
</div>

<ng-template #content let-modal>
  <div class="">
    <h4 class="modal-title" id="modal-basic-title">Дякуємо</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <img src="assets/img/icons/ic_close.svg" alt="Icon close modal" />
    </button>
  </div>
  <p class="modal-text">Ми відправили лист на вашу пошту. Будь ласка, підтвердіть підписку.</p>
  <div class="">
    <button type="button" class="modal-btn" (click)="modal.close('Save click')">Ок</button>
  </div>
</ng-template> -->

<div class="feedback" data-aos="fade-down" data-aos-duration="1000">
  <div class="feedback__container">
    <h2 class="feedback__title">Щотижневі новини</h2>
    <p class="feedback__text">Підпишіться, щоб отримувати листи</p>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <input matInput type="email" class="feedback__input" placeholder="Ваш email" autocomplete="email" formControlName="email" />
    <div *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched" class="errors-container">
      <p class="errors-text" *ngIf="formGroup.get('email')?.errors?.required" @onOff>Поле email не може бути пустим</p>
      <p class="errors-text" *ngIf="formGroup.get('email')?.errors?.email && formGroup.get('email')?.errors?.emailValid" @onOff>
        Введіть коректний email
      </p>
      <p class="errors-text" *ngIf="formGroup.get('email')?.errors?.emailValid && formGroup.get('email')?.errors?.emailValid" @onOff>
        Введіть коректний email
      </p>
      <p class="errors-text" *ngIf="formGroup.get('email')?.errors?.usernameAlreadyExists" @onOff>Такий користувач вже підписаний</p>
    </div>
    <button type="submit" class="feedback__btn" [disabled]="formGroup.invalid || isPending">
      <p>Підписатись</p>
      <span *ngIf="isPending" class="loader"></span>
      <img *ngIf="isSuccess" src="assets/img/icons/icon-success.svg" class="loader-notification" alt="Loader success icon" @onOff />
      <img *ngIf="isFail" src="assets/img/icons/icon-error.svg" class="loader-notification" alt="Loader error icon" />
    </button>
    <p class="feedback__agree">Даю згоду на обробку та використання персональних даних</p>
  </form>
</div>

<ng-template #content let-modal>
  <div>
    <h4 class="modal-title" id="modal-basic-title">Дякуємо</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <img src="assets/img/icons/ic_close.svg" alt="Icon close modal" />
    </button>
  </div>
  <p class="modal-text">Ми відправили лист на вашу пошту. Будь ласка, підтвердіть підписку.</p>
  <div class="">
    <button type="button" class="modal-btn" (click)="modal.close('Save click')">Ок</button>
  </div>
</ng-template>

<ng-template #contentFail let-modal>
  <div>
    <h4 class="modal-title" id="modal-basic-title">Кепські справи</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <img src="assets/img/icons/ic_close.svg" alt="Icon close modal" />
    </button>
  </div>
  <p class="modal-text">Схоже що сталась помилка, спобуйте пізніше</p>
  <div class="">
    <button type="button" class="modal-btn" (click)="modal.close('Save click')">Ок</button>
  </div>
</ng-template>
