<header>
  <div class="container">
    <div class="header" data-aos="zoom-in" data-aos-duration="1000">
      <div class="header__logo">
        <img class="header__logo-herb" src="assets/img/icons/herb-icon.svg" alt="Herb logo" />
        <img class="header__logo-line" src="assets/img/icons/line-header.svg" alt="Line" />
        <p class="header__logo-text">Кабінет Міністрів України</p>
      </div>
      <a
        class="header__btn"
        href="https://firebasestorage.googleapis.com/v0/b/angular-ad7e4.appspot.com/o/fullHDnew3.mp4?alt=media&token=e478d15c-620b-45b6-a611-93a4a713d6d3"
        download="/"
      >
        <div class="header__btn--container">
          <img class="header__btn--svg" src="assets/img/icons/download-icon.svg" alt="Download icon" />
          <p class="hero__btn--text">Презентація</p>
        </div>
      </a>
    </div>
  </div>
</header>
