<header>
  <div class="container">
    <div class="header">
      <div class="header__logo">
        <svg class="header__logo-herb">
          <use href="assets/img/icons/sprite.svg#icon-herb"></use>
        </svg>
        <svg class="header__logo-line">
          <use href="assets/img/icons/sprite.svg#icon-line"></use>
        </svg>
        <p class="header__logo-text">Кабінет Міністрів України</p>
      </div>
      <a class="header__btn" href="/" download="/">
        <div class="header__btn--container">
          <svg class="header__btn--svg">
            <use href="assets/img/icons/sprite.svg#download-icon"></use>
          </svg>
          <p class="hero__btn--text">Презентація</p>
        </div>
      </a>
    </div>
  </div>
</header>
