<div class="hero-container">
  <section class="hero-section">
    <div class="container">
      <div class="hero">
        <h1 class="hero__title" data-aos="zoom-in" data-aos-duration="1000">Реформування системи містобудування</h1>
        <a class="hero__btn" href="#video">
          <div class="hero__container">
            <img class="hero__btn--svg" src="assets/img/icons/video-play-icon.svg" alt="Video play icon" />
            <p>Відеотрансляція</p>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
