<div class="hero-container">
  <section class="hero-section">
    <div class="container">
      <div class="hero">
        <h1 class="hero__title" data-aos="zoom-in" data-aos-duration="1000">Реформування системи містобудування</h1>
        <a class="hero__btn" href="#video">
          <div class="hero__container">
            <svg class="hero__btn--svg">
              <use href="assets/img/icons/sprite.svg#play-video"></use>
            </svg>
            <p>Відеотрансляція</p>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
