<div class="hero-container">
  <app-header></app-header>
  <section class="hero-section">
    <div class="container">
      <div class="hero">
        <h1 class="hero__title">Реформування системи містобудування</h1>
        <button class="hero__btn" type="button">
          <div class="hero__container">
            <svg class="hero__btn--svg">
              <use href="../assets/img/icons/sprite.svg#play-video"></use>
            </svg>
            <p>Відеотрансляція</p>
          </div>
        </button>
      </div>
    </div>
  </section>
</div>
<app-home-projects></app-home-projects>
<app-footer></app-footer>
