@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

a {
  transition: all 0.15s linear;
  @include media-breakpoint-up(tb) {
    &:hover {
      scale: 1.08;
      filter: drop-shadow(4px 4px 1px #5b5aff);
    }
  }
}
