@import 'src/assets/scss/theme-angular-starter1/fonts';
@import 'src/assets/scss/theme-angular-starter1';

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;

  @include media-breakpoint-up(xs) {
    // width: 480px;
    padding-left: 44.8px;
    padding-right: 44.8px;
  }

  @include media-breakpoint-up(sm) {
    width: 768px;
    padding-left: 73.6px;
    padding-right: 73.6px;
  }

  @include media-breakpoint-up(tb) {
    width: 1024px;
    padding-left: 102.4px;
    padding-right: 102.4px;
  }

  @include media-breakpoint-up(md) {
    width: 1280px;
    padding-left: 131.2px;
    padding-right: 131.2px;
  }

  @include media-breakpoint-up(lg) {
    width: 1440px;
    padding-left: 160px;
    padding-right: 160px;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
.overflow {
  overflow: hidden;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  margin: 0 16px;

  @include media-breakpoint-up(sm) {
    margin: 0 auto;
  }
}

.modal-content {
  padding: 40px 18px;
  border-radius: 0;
  width: 288px;
  height: 249px;

  @include media-breakpoint-up(xs) {
    padding: 42.4px 27.2px 46.4px 27.2px;
    width: 380px;
    height: auto;
  }

  @include media-breakpoint-up(sm) {
    padding: 44.8px 36.4px 52.8px 36.4px;
    width: 480px;
  }

  @include media-breakpoint-up(tb) {
    padding: 47.2px 45.6px 59.2px 45.6px;
    width: 540px;
  }

  @include media-breakpoint-up(md) {
    padding: 49.6px 54.8px 65.6px 54.8px;
    width: 590px;
  }

  @include media-breakpoint-up(lg) {
    padding: 52px 64px 72px 64px;
    width: 664px;
  }
}
